
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example
connection-org1.json

crypto/
wallet/
*.pem
*.key
*.crt
*.p12
*.pfx
*.jks
*.id
*.keystore

logs/
*.log

.DS_Store
Thumbs.db
.vscode/
.idea/
